.git
.github
.gitignore
.gitattributes
.vscode
.bun_repl_history
node_modules
**/node_modules
dist
**/dist
**/*.tsbuildinfo
.env
.env.*
**/.env
**/.env.*
support
README.md
CLAUDE.md
LICENSE
docker-compose.yml
*.log
